.App-logo {
  height: 100%;
  padding: 10px;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  top: 0px;
  background-color: black;
  height: 6rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  padding: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.App-header.down {
  top: -6rem;
}

.Header-1 {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  color: red;
  text-shadow: 2px 2px 4px orange;
}

.Header-2 {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  color: yellow;
  text-shadow: 2px 2px 4px lime;
}

.Header-3 {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  color: aqua;
  text-shadow: 2px 2px 4px violet;
}