.App {
  text-align: center;
 
}

.App-logo {
height: 100%;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: black;
  color: white;
  height: 6rem;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.header.down {
  top: -6rem;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background-color: hotpink;
  color: white;

}