.App {
  text-align: center;
  background-color: black;
}

.App-link {
  color: #61dafb;
}

.App-main {
  background: linear-gradient( rgba(255, 0, 0, 0.5) 0%, rgba(255,154,0,.5) 10%, rgba(208,222,33,.5) 20%, rgba(79,220,74,.5) 30%, rgba(63,218,216,.5) 40%, rgba(47,201,226,.5) 50%, rgba(28,127,238,.5) 60%, rgba(95,21,242,.4) 70%, rgba(186,12,248,.4) 80%, rgba(251,7,217,.4) 90%, rgba(255,0,0,.4) 100%);

  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.Home-intro {
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pride_flag {
  border: 5px solid white;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
  color: red;
  text-shadow: 2px 2px 4px orange;
}

.about_section {
  text-align: left;
  margin: 20px;
}

.email_add {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
}

.social {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
  color: yellow;
  text-shadow: 2px 2px 4px lime;
}

.contact {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
  color: aqua;
  text-shadow: 2px 2px 4px violet;
}

.icon_list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 20px;
}

ul {
  list-style-position: inside;
}